@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Light.ttf');
}

* {
    box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #d81b60;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin: 0;
}

/* Main Separation */
.img_scroll_separation {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 100px 55px;
}

/* Image (including buttons and info) */
.image_base_padding {
    height: 100%;
    padding: 10px 50px 10px 50px;
}

.img_btn_sep {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 90px;
}

#imageBackground {
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#main_img {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    user-select: none;
}

.btn_info_sep {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
    padding: 2px 50px 0 50px;
}

.info_table {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 8px;
    width: 80%;
    margin: auto;
}

.info_item {
    display: inline-block;
    margin: auto;
    white-space:nowrap;
}

/* Scroller (including images)*/
.scroller_base_padding {
    padding: 0 20px;
}

#scroll_bar {
    height: 100%;
    width: 100%;
    border-right: solid 4px #5a85c4;
    border-left: solid 4px #5a85c4;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

#scroll_bar > div {
    display: inline-block;
    cursor: pointer;
}

#scroll_bar > div > img {
    border: 3px solid #458BC6;
    margin: 0 2px;
    opacity: 0.75;
}

.control_wrapper {
    height: 100%;
    padding: 5px 20px 10px 20px;
    display: inline-block;
    margin: auto;
}

/* Formatting */
/* Buttons */
button {
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.btn_main {
    height: 100%;
    background-color: #458BC6;
    border: none;
    font-size: 17px;
    color: white;
    padding: 0 30px;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: .1rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.green {
    background-color: #388e3c;
    border: 3px solid #388e3c !important;
}

.red {
    background-color: #d32f2f;
    border: 3px solid #d32f2f !important;
}

/* Image Overlay */
#imageOverlay {
    position: fixed;
    display: none;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#imageOverlayImage {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

/* Choices */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    grid-template-rows: 1fr 400px 1fr;
    grid-template-columns: 1fr 900px 1fr;
}

#overlay > div {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#overlay > div > div {
    background: transparent;
    border-radius: 50px;
    border: 5px solid white;
    display: flex;
    align-items: center;

}

#overlay > div > div > div {
    margin: auto;
    color: white;
    font-size: 80px;
    text-align: center;

}

#overlay > div > div:hover {
    background: rgba(255, 255, 255, 0.4);
}
