<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Image Decisions</title>
        <script type="text/javascript" src="/script.js"></script>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="overlay" onclick="closeOverlayChoice()">
            <div id="addFileChoice">
                <div><div onclick="getImagesWithFileSelect()">Select by File</div></div>
                <div><div onclick="getImagesWithFolderSelect()">Select by Folder</div></div>
            </div>
            <div id="clearChoice">
                <div><div>Clear Files</div></div>
                <div><div>Clear Choices</div></div>
            </div>
            <div id="exportChoice">
                <div><div>Export by Copy</div></div>
                <div><div>Export by Move</div></div>
            </div>
        </div>
        <div class="img_scroll_separation">
            <!-- Image Container -->
            <div class="image_base_padding">
                <!-- Image Button Separation-->
                <div class="img_btn_sep">
                    <!-- Image -->
                    <img id="main_img" src="">
                    <!-- Buttons and Info -->
                    <div class="btn_info_sep">
                        <!-- Image Info -->
                        <div class="info_table">
                            <div id="info_date" class="info_item"></div>
                            <div id="info_size" class="info_item"></div>
                            <div id="info_dimensions" class="info_item"></div>
                            <div id="info_model" class="info_item"></div>
                            <div id="info_location" class="info_item"></div>
                        </div>
                        <!-- Buttons -->
                        <button class="btn_main red_btn">Don't Copy</button>
                        <button class="btn_main green_btn">Copy</button>
                    </div>
                </div>
            </div>

            <!-- Scroll Space -->
            <div class="scroller_base_padding">
                <!-- Scroller -->
                <div id="scroll_bar" class="scroller"></div>
            </div>

            <!-- Controls -->
            <div style="height: 100%; padding: 5px 20px 10px 20px; display: inline-block; margin: auto;">
                <button class="btn_main" onclick="overlayChoice('addFileChoice')">Add Files</button>
                <button class="btn_main" onclick="overlayChoice('clearChoice')">Clear</button>
                <button class="btn_main">Set output</button>
                <button class="btn_main" onclick="overlayChoice('exportChoice')">Export</button>
                <button class="btn_main">View output</button>
                <button class="btn_main">Close</button>
            </div>
        </div>
    </body>
</html>