<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Media Picker</title>
        <script type="text/javascript" src="/script.js"></script>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div id="overlay" onclick="closeOverlayChoice()">
            <div id="addFileChoice">
                <div onclick="getImagesWithFileSelect()"><div>Select by File</div></div>
                <div onclick="getImagesWithFolderSelect()"><div>Select by Folder</div></div>
            </div>
            <div id="clearChoice">
                <div onclick="clearFiles()"><div>Clear Files</div></div>
                <div onclick="clearChoices()"><div>Clear Choices</div></div>
            </div>
            <div id="exportChoice">
                <div onclick="exportCopy()"><div>Export by Copy</div></div>
                <div onclick="exportMove()"><div>Export by Move</div></div>
            </div>
        </div>
        <div id="imageOverlay" onclick="shrinkMain()">
            <img id="imageOverlayImage" src="">
        </div>
        <div class="img_scroll_separation">
            <!-- Image Container -->
            <div class="image_base_padding">
                <!-- Image Button Separation-->
                <div class="img_btn_sep">
                    <!-- Image -->
                    <div id="imageBackground" onclick="imageBackgroundClicked(event)">
                        <img id="main_img" src="" onclick="mainImageClicked(event)">
                    </div>
                    <!-- Buttons and Info -->
                    <div class="btn_info_sep">
                        <!-- Image Info -->
                        <div class="info_table">
                            <div id="info_date" class="info_item"></div>
                            <div id="info_size" class="info_item"></div>
                            <div id="info_dimensions" class="info_item"></div>
                            <div id="info_model" class="info_item"></div>
                            <div id="info_location" class="info_item"></div>
                        </div>
                        <!-- Buttons -->
                        <button id="noKeep" class="btn_main red" onclick="noKeepImage()">Don't Copy</button>
                        <button id="keep" class="btn_main green" onclick="keepImage()">Copy</button>
                    </div>
                </div>
            </div>

            <!-- Scroll Space -->
            <div class="scroller_base_padding">
                <!-- Scroller -->
                <div id="scroll_bar"></div>
            </div>

            <!-- Controls -->
            <div class="control_wrapper">
                <button class="btn_main" onclick="overlayChoice('addFileChoice')">Add Files</button>
                <button class="btn_main" onclick="overlayChoice('clearChoice')">Clear</button>
                <button class="btn_main" onclick="overlayChoice('exportChoice')">Export</button>
            </div>
        </div>
    </body>
</html>