@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Light.ttf');
}

* {
    box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #d81b60;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin: 0;
}

/* Main Separation */
.img_scroll_separation {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 120px;
}

/* Image (including buttons and info) */
.image_base_padding {
    height: 100%;
    padding: 10px 50px 10px 50px;
}

.img_btn_sep {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 90px;
}

.btn_info_sep {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
    padding: 2px 50px 0 50px;
}

.info_table {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 8px;
}

.info_item {
    display: inline-block;
    margin: auto;
}

/* Scroller (including images)*/
.scroller_base_padding {
    padding: 0 20px 20px 20px;
}

.scroller {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    border-right: solid 4px #5a85c4;
    border-left: solid 4px #5a85c4;
}

/* Formatting */
/* Buttons */
button {
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.btn_main {
    width: 100%;
    background-color: #458BC6;
    border: none;
    font-size: 17px;
    color: white;
    padding: 0 30px;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: .1rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.green_btn {
    background-color: #388e3c;
}

.red_btn {
    background-color: #d32f2f;
}
